{% macro card() -%}
  <img class="card-img-top" src="./assets/img_1.jpeg" />
  <div class="card-body p-4">
      <div class="text-center">
          <!-- Product name-->
          <h5 class="fw-bolder">Fancy Product</h5>
      </div>
      <p></p>
      <div class="text-center">
      <button type="button" class="btn btn-sm btn-outline-dark">
        <i class="bi bi-eye"></i> <span class="badge badge-secondary">952</span>
      </button>
      <button type="button" class="btn btn-sm btn-outline-dark">
          <i class="bi bi-heart"></i> <span class="badge badge-secondary">952</span>
      </button>
      </div>
      <p></p>
      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
  </div>
{%- endmacro %}