{% macro subnav() -%}
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul>
                    <button class="btn btn-outline-success" type="button">Popular</button>
                    <button class="btn btn-sm btn-outline-secondary" type="button">All</button>
                    <button class="btn btn-sm btn-outline-secondary" type="button">Animation</button>
                    <button class="btn btn-sm btn-outline-secondary" type="button">Branding</button>
                    <button class="btn btn-sm btn-outline-secondary" type="button">Illustration</button>
                    <button class="btn btn-sm btn-outline-secondary" type="button">Mobile</button>
                    <button class="btn btn-sm btn-outline-secondary" type="button">Print</button>
                    <button class="btn btn-sm btn-outline-secondary" type="button">Product Design</button>
                    <button class="btn btn-sm btn-outline-secondary" type="button">Typography</button>
                    <button class="btn btn-sm btn-outline-secondary" type="button">Web Design</button>
                    <button class="btn btn-outline-success" type="button">Filter</button>
                </ul>
        </div>
    </div>
</nav>
{%- endmacro %}